<html>
    <head>
        <title>Project Spore</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.3.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/public/css/all.css">
        <style>

        </style>
    </head>
    <body>
        <div id="container" class="container"></div>
    </body>
    <script src="/public/js/bundle.js"></script>
</html>
