.container-spored {
  padding-top: 50px;
}
.search {
  padding: 10px 15px;
  text-align: center;
}
.search .list-group {
    text-align: left;
}
.search .hidden {
    display: none
}

.navbar-spored {
  background: url('../assets/logo.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  height: 57px;
  background-color: #ffffff;
}

.navbar-spored .navbar-nav > li > a {
    padding-top: 21px;
}

.logo {background: url('../assets/logo.png'); width: 72px; height: 53px; border: 0px;}

.ribbon {
    position:fixed;
    top:0;
    right:0;
    border:0;
    z-index:10000
}

.landing-container {
    text-align: center;
    padding-top: 100px;
}

.landing-container > div {
    padding-top: 100px;
}

.landing-container > div > a {
    margin: 0px 15px;
}
